@using MyRecipes.Common
@model MyRecipes.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="center">
    <a class="button" asp-controller="GetRecipes" asp-action="Add">Add Data</a>
</div>