@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}
<section class="login-page-wrap padding-top-60 padding-bottom-20">
    <div class="container">
        <div class="row gutters-60">
            <div class="col-lg-8">
                <div class="login-box-layout1">
                    <div class="section-heading heading-dark">
                        <h1 class="item-heading">@ViewData["Title"]</h1>
                    </div>
                    <form class="login-form" method="post" id="account" asp-route-returnUrl="@Model.ReturnUrl">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div>
                            <div class="col-md-12">
                                <label class="mb-3">Email Address</label>
                                <input asp-for="Input.Email" class="main-input-box" autocomplete="username"  aria-required="true" placeholder="" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span> 
                            </div>
                            <div class="col-md-12">
                                <label class="mb-3">Password</label>
                                <input asp-for="Input.Password" class="main-input-box" autocomplete="current-password" aria-required="true" placeholder="" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox checkbox-primary">
                                     <input asp-for="Input.RememberMe" id="checkbox1" type="checkbox">
                                    <label for="checkbox1">Remember Me</label> 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="lost-password"><a asp-page="./ForgotPassword">Lost your password?</a></label>
                            </div>
                        </div>
                        <div class="btn-area">
                            <button id="login-submit" class="btn-fill btn-primary" type="submit" value="Login">Login<i class="flaticon-next"></i></button>
                            <a class="btn-fill btn-dark" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" >Create an Account<i class="flaticon-next"></i></a>
                        </div>
                    </form>
                </div>
            </div>
            @await Html.PartialAsync("_SidebarPartial", new IndexViewModel{ LatestRecipes = Model.IndexViewModel.LatestRecipes})
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
