@model MyRecipes.Web.ViewModels.Recipes.CreateRecipeInputModel
@{
	this.ViewData["Title"] = "Add new recipe";
	var categoryItems = this.Model.CategoriesItems.Select(x => new SelectListItem(x.Value,  x.Key));
}

@* <form method="post" class="col-md-6 offset-md-3" enctype="multipart/form-data">
	<h1>@this.ViewData["Title"]</h1>
	<div asp-validation-summary="All" class="text-danger"></div>
	<div class="form-group"> 
		<label asp-for="Name"></label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Instructions"></label>
		<textarea asp-for="Instructions" class="form-control" rows="5"></textarea>
		<span asp-validation-for="Instructions" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="PreparationTime"></label>
		<input asp-for="PreparationTime" class="form-control" />
		<span asp-validation-for="PreparationTime" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="CookingTime"></label>
		<input asp-for="CookingTime" class="form-control" />
		<span asp-validation-for="CookingTime" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="PortionCount"></label>
		<input asp-for="PortionCount" class="form-control" />
		<span asp-validation-for="PortionCount" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="CategoryId"></label>
		<select asp-for="CategoryId" class="form-control" asp-items="categoryItems"></select>
		<span asp-validation-for="CategoryId" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Images"></label>
		<input asp-for="Images" class="form-control">
		<span asp-validation-for="Images" class="text-danger"></span>
	</div>
	<div class="form-control" id="IngredientsContainer">
		<label asp-for="Ingredients"></label>
		<a class="btn btn-success" onclick="AddMoreIngredients()">+</a>
	</div>
	<input type="submit" class="btn btn-primary" value="Submit" />
</form>
 *@
<!-- Submit Recipe Area Start Here -->
<section class="submit-recipe-page-wrap padding-top-74 padding-bottom-50">
    <div class="container">
        <div class="row gutters-60">
            <div class="col-lg-8">
                <form class="submit-recipe-form">
                    <div class="form-group">
                        <label>Recipe Title</label>
                        <input type="text" placeholder="Recipe Name" class="form-control" name="name"
                               asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Instructions"></label>
                        <textarea placeholder="Type your instructions here...." class="textarea form-control" name="message" id="form-message"
                                  rows="7" cols="20" asp-for="Instructions"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <select asp-for="CategoryId" class="form-control" asp-items="categoryItems"></select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    
                    <div class="additional-input-wrap">
                        <label>Upload your photos</label>
                        <div class="form-group">
                            <ul class="upload-img">
                                <li><img src="img/figure/upload-banner1.jpg" alt="Upload Image"></li>
                                <li><img src="img/figure/upload-banner1.jpg" alt="Upload Image"></li>
                                <li><img src="img/figure/upload-banner1.jpg" alt="Upload Image"></li>
                                <li><img src="img/figure/upload-banner1.jpg" alt="Upload Image"></li>
                                <li><img src="img/figure/upload-banner1.jpg" alt="Upload Image"></li>
                            </ul>
                            <button type="submit" class="btn-upload"><i class="fas fa-cloud-upload-alt"></i>UPLOAD</button>
                        </div>
                    </div>
                    <div class="additional-input-wrap">
                        <label>Additional Informations:</label>
                        <div class="row gutters-5">
                            <div class="col-lg-6">
                                <div class="form-group additional-input-box icon-left">
                                    <i class="far fa-clock"></i>
                                    <input type="text" placeholder="Preparation Time: 00.00.00" class="form-control"
                                           name="name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group additional-input-box icon-left">
                                    <i class="fas fa-utensils"></i>
                                    <input type="text" placeholder="Cooking Time: 00.00.00" class="form-control"
                                           name="name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group additional-input-box icon-left">
                                    <i class="fas fa-users"></i>
                                    <input type="text" placeholder="Serving People: 00" class="form-control"
                                           name="name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group additional-input-box icon-left">
                                    <i class="fas fa-eye"></i>
                                    <input type="text" placeholder="People Views: 00" class="form-control" name="name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="additional-input-wrap">
                        <label>Ingredients:</label>
                        <div class="row no-gutters">
                            <div class="col-6">
                                <div class="form-group additional-input-box icon-left">
                                    <i class="fas fa-arrows-alt"></i>
                                    <input type="text" placeholder="Preparation Time: 00.00.00" class="form-control"
                                           name="name">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group additional-input-box icon-right">
                                    <input type="text" placeholder="Cooking Time: 00.00.00" class="form-control"
                                           name="name">
                                    <i class="fas fa-times"></i>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group additional-input-box icon-left">
                                    <i class="fas fa-arrows-alt"></i>
                                    <input type="text" placeholder="Serving People: 00" class="form-control"
                                           name="name">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group additional-input-box icon-right">
                                    <input type="text" placeholder="People Views: 00" class="form-control" name="name">
                                    <i class="fas fa-times"></i>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn-upload">
                            <i class="flaticon-add-plus-button"></i>ADD NEW
                            INGREDIENT
                        </button>
                    </div>
                    <div class="additional-input-wrap">
                        <label>Nutrition Facts:</label>
                        <div class="row gutters-5">
                            <div class="col-6">
                                <div class="form-group additional-input-box icon-right">
                                    <input type="text" placeholder="People Views: 00" class="form-control" name="name">
                                    <i class="fas fa-times"></i>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group additional-input-box icon-right">
                                    <input type="text" placeholder="People Views: 00" class="form-control" name="name">
                                    <i class="fas fa-times"></i>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group additional-input-box icon-right">
                                    <input type="text" placeholder="People Views: 00" class="form-control" name="name">
                                    <i class="fas fa-times"></i>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group additional-input-box icon-right">
                                    <input type="text" placeholder="People Views: 00" class="form-control" name="name">
                                    <i class="fas fa-times"></i>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group additional-input-box icon-right">
                                    <input type="text" placeholder="People Views: 00" class="form-control" name="name">
                                    <i class="fas fa-times"></i>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group additional-input-box icon-right">
                                    <input type="text" placeholder="People Views: 00" class="form-control" name="name">
                                    <i class="fas fa-times"></i>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn-upload">
                            <i class="flaticon-add-plus-button"></i>ADD NEW
                            INGREDIENT
                        </button>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <div class="summernote"></div>
                    </div>
                    <button type="submit" class="btn-submit">SUBMIT RECIPE</button>
                </form>
            </div>
            <div class="col-lg-4 sidebar-widget-area sidebar-break-md">
                <div class="widget">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">FEATURED ARTICLE</h3>
                    </div>
                    <div class="widget-featured-feed">
                        <div class="rc-carousel nav-control-layout1" data-loop="true" data-items="3"
                             data-margin="5" data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="700"
                             data-dots="false" data-nav="true" data-nav-speed="false" data-r-x-small="1"
                             data-r-x-small-nav="true" data-r-x-small-dots="false" data-r-x-medium="1"
                             data-r-x-medium-nav="true" data-r-x-medium-dots="false" data-r-small="1"
                             data-r-small-nav="true" data-r-small-dots="false" data-r-medium="1"
                             data-r-medium-nav="true" data-r-medium-dots="false" data-r-large="1"
                             data-r-large-nav="true" data-r-large-dots="false" data-r-extra-large="1"
                             data-r-extra-large-nav="true" data-r-extra-large-dots="false">
                            <div class="featured-box-layout1">
                                <div class="item-img">
                                    <img src="img/product/product17.jpg" alt="Brand" class="img-fluid">
                                </div>
                                <div class="item-content">
                                    <span class="ctg-name">BREAKFAST</span>
                                    <h4 class="item-title"><a href="single-recipe1.html">Baked Garlic Prawn</a></h4>
                                    <p>
                                        Definitiones noel ei verear intelle
                                        gatpri civibus consequat area
                                        refund efficiantue.
                                    </p>
                                </div>
                            </div>
                            <div class="featured-box-layout1">
                                <div class="item-img">
                                    <img src="img/product/product18.jpg" alt="Brand" class="img-fluid">
                                </div>
                                <div class="item-content">
                                    <span class="ctg-name">DINNER</span>
                                    <h4 class="item-title"><a href="single-recipe1.html">Baked Garlic Prawn</a></h4>
                                    <p>
                                        Definitiones noel ei verear intelle
                                        gatpri civibus consequat area
                                        refund efficiantue.
                                    </p>
                                </div>
                            </div>
                            <div class="featured-box-layout1">
                                <div class="item-img">
                                    <img src="img/product/product19.jpg" alt="Brand" class="img-fluid">
                                </div>
                                <div class="item-content">
                                    <span class="ctg-name">SALAD</span>
                                    <h4 class="item-title"><a href="single-recipe1.html">Baked Garlic Prawn</a></h4>
                                    <p>
                                        Definitiones noel ei verear intelle
                                        gatpri civibus consequat area
                                        refund efficiantue.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">SUBSCRIBE &amp; FOLLOW</h3>
                    </div>
                    <div class="widget-follow-us">
                        <ul>
                            <li class="single-item"><a href="#"><i class="fab fa-facebook-f"></i>LIKE ME ON</a></li>
                            <li class="single-item"><a href="#"><i class="fab fa-twitter"></i>LIKE ME</a></li>
                            <li class="single-item"><a href="#"><i class="fab fa-linkedin-in"></i>LIKE ME</a></li>
                            <li class="single-item"><a href="#"><i class="fab fa-pinterest-p"></i>LIKE ME</a></li>
                            <li class="single-item"><a href="#"><i class="fab fa-instagram"></i>LIKE ME</a></li>
                            <li class="single-item"><a href="#"><i class="fab fa-youtube"></i>Subscribe</a></li>
                        </ul>
                    </div>
                </div>
                <div class="widget">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">LATEST RECIPES</h3>
                    </div>
                    <div class="widget-latest">
                        <ul class="block-list">
                            <li class="single-item">
                                <div class="item-img">
                                    <a href="#"><img src="img/product/latest1.jpg" alt="Post"></a>
                                    <div class="count-number">1</div>
                                </div>
                                <div class="item-content">
                                    <div class="item-ctg">DESERT</div>
                                    <h4 class="item-title">
                                        <a href="#">
                                            Salami Oven Roasted are
                                            Mozzarella Oelette
                                        </a>
                                    </h4>
                                    <div class="item-post-by">
                                        <a href="single-blog.html">
                                            <i class="fas fa-user"></i><span>by</span>
                                            John Martin
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="single-item">
                                <div class="item-img">
                                    <a href="#"><img src="img/product/latest2.jpg" alt="Post"></a>
                                    <div class="count-number">2</div>
                                </div>
                                <div class="item-content">
                                    <div class="item-ctg">DESERT</div>
                                    <h4 class="item-title">
                                        <a href="#">
                                            Salami Oven Roasted are
                                            Mozzarella Oelette
                                        </a>
                                    </h4>
                                    <div class="item-post-by">
                                        <a href="single-blog.html">
                                            <i class="fas fa-user"></i><span>by</span>
                                            John Martin
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="single-item">
                                <div class="item-img">
                                    <a href="#"><img src="img/product/latest3.jpg" alt="Post"></a>
                                    <div class="count-number">3</div>
                                </div>
                                <div class="item-content">
                                    <div class="item-ctg">DESERT</div>
                                    <h4 class="item-title">
                                        <a href="#">
                                            Salami Oven Roasted are
                                            Mozzarella Oelette
                                        </a>
                                    </h4>
                                    <div class="item-post-by">
                                        <a href="single-blog.html">
                                            <i class="fas fa-user"></i><span>by</span>
                                            John Martin
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="single-item">
                                <div class="item-img">
                                    <a href="#"><img src="img/product/latest4.jpg" alt="Post"></a>
                                    <div class="count-number">4</div>
                                </div>
                                <div class="item-content">
                                    <div class="item-ctg">DESERT</div>
                                    <h4 class="item-title">
                                        <a href="#">
                                            Salami Oven Roasted are
                                            Mozzarella Oelette
                                        </a>
                                    </h4>
                                    <div class="item-post-by">
                                        <a href="single-blog.html">
                                            <i class="fas fa-user"></i><span>by</span>
                                            John Martin
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="widget">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">INSTAGRAM</h3>
                    </div>
                    <div class="widget-instagram">
                        <ul>
                            <li>
                                <div class="item-box">
                                    <img src="img/social-figure/social-figure9.jpg" alt="Social Figure" class="img-fluid">
                                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="item-box">
                                    <img src="img/social-figure/social-figure10.jpg" alt="Social Figure" class="img-fluid">
                                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="item-box">
                                    <img src="img/social-figure/social-figure11.jpg" alt="Social Figure" class="img-fluid">
                                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="item-box">
                                    <img src="img/social-figure/social-figure12.jpg" alt="Social Figure" class="img-fluid">
                                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="item-box">
                                    <img src="img/social-figure/social-figure13.jpg" alt="Social Figure" class="img-fluid">
                                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="item-box">
                                    <img src="img/social-figure/social-figure14.jpg" alt="Social Figure" class="img-fluid">
                                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="item-box">
                                    <img src="img/social-figure/social-figure15.jpg" alt="Social Figure" class="img-fluid">
                                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="item-box">
                                    <img src="img/social-figure/social-figure16.jpg" alt="Social Figure" class="img-fluid">
                                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="item-box">
                                    <img src="img/social-figure/social-figure17.jpg" alt="Social Figure" class="img-fluid">
                                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Submit Recipe Area End Here -->

@section Scripts {
<script>
	var ingredientIndex = 0;
	function AddMoreIngredients() {
		$("#IngredientsContainer")
			.append("<div class='form-control'>Name: <input type='text' name='Ingredients["+ingredientIndex+"].IngredientName' /> Quantity <input type='text' name='Ingredients["+ingredientIndex+"].Quantity' /></div>");
		ingredientIndex++;
	}
</script>
}